#h1{
    text-align: center;
}

#div1{
display: flex;
  justify-content: center;
  margin-top: 30px;
}

.done {
  text-decoration: line-through;
  color: gray;
}

#div2{
display: grid;
  justify-content: center;
  margin-top: 30px;
}