h1 {
    text-align: center;
    color: #333;
}

#div1{
display: flex;
  justify-content: center;
  margin-top: 30px;
}

.done {
  text-decoration: line-through;
  color: gray;
}

#div2{
display: grid;
  justify-content: center;
  margin-top: 30px;
}

#taskCount {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}